[Unit]
Description=PWM Fan Control
After=network-online.target
Wants=network.target

[Service]
ExecStart=/usr/local/bin/fan_control/venv/bin/python /usr/local/bin/fan_control/fan_control_hardware_pwm.py
Restart=on-failure
RestartSec=10s
User=root
Group=root
Environment="PATH=/usr/local/bin/fan_control/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

[Install]
WantedBy=multi-user.target